PORT=4000
FRONTEND_URL=http://localhost:5173,http://localhost:8080
PUBLIC_FRONTEND_URL=http://localhost:5173

DB_USER=admin
DB_PASSWORD=admin123
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=hotel_db

JWT_SECRET=cambia_este_valor_largo_y_secreto
GOOGLE_CLIENT_ID=tu_google_client_id.apps.googleusercontent.com

MERCADOPAGO_ACCESS_TOKEN=tu_access_token_privado
MERCADOPAGO_WEBHOOK_URL=

PGADMIN_EMAIL=admin@casablanca.com
PGADMIN_PASSWORD=adminpassword
PGADMIN_PORT=5051
